<!DOCTYPE html>
<html>
  <head>
    <title>
      Rubit -
      <%= content_for?(:page_title) ? yield(:page_title) : "Hoşgeldiniz" %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Rubit Example - Dil: <%= t('language', lang: I18n.locale) %> </h1>

    <%=link_to 'TR', root_path(locale: :tr) %>
    <%=link_to 'EN', root_path(locale: :en) %>

    <p><%= notice %></p>
    <strong>Sayaç</strong> <%= cookies[:page_counter] %><br/>
    <%= yield :action_name %>
    <%= yield %>
  </body>
</html>
